.navbar {
	list-style-type: none;
	background-color: #003380;
	overflow: hidden;
	box-shadow: 0 2px 3px rgb(128, 128, 128);
	li {
		float: left;
		.nav-link {
			display: block;
			text-align: center;
			text-decoration: none;
			padding: 1rem 1rem;
			font-size: 1.25rem;
			&:hover {
				background-color: #0047b3;
			}
			&,
			&:active,
			&:focus {
				color: #ffffff;
			}
		}
		&.nav-right {
			float: right;
		}
	}
}
