form.search-form {
	display: block;
	margin: 1rem auto;
	width: fit-content;
	label {
		display: inline;
		margin-right: 1rem;
		font-size: 1.2rem;
	}
	input {
		margin: 0.5rem 0;
		&[type='text'] {
			display: inline;
			padding: 0.3rem 0.3rem;
			font-size: 1rem;
			border-radius: 0.3rem;
			border-width: 1px;
		}
		&[type='submit'] {
			display: block;
			margin: 0.5rem auto;
			font-size: 1rem;
			padding: 0.25rem 0.4rem;
			&:hover {
				cursor: pointer;
			}
		}
	}
}
